@import 'config_css/sidebar.css';
@import 'config_css/header.css';
@import 'config_css/footer.css';
@import 'config_css/main-content.css';
@import 'settings.css';

/* Search */
.search-table {
    margin-block: 2rem;
    /*display: none;*/
}

.info {
    margin-top: 20px;
    gap: 10px;
}

.info img {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.info .p-info {
    flex-grow: 1;
}

.p-content {
    padding: 1rem;
}

.p-content span {
    font-weight: 700;
}

.line {
    border: 1px solid gray;
}

/*  update  */
.main-container .edit-student,
.main-container .make_profile_student {
    margin-left: 1.7rem;
}

.error-message {
    padding-left: 1.7rem;
    color: red;
}

/* LẬP DANH SÁCH LỚP */
.table {
    text-align: center;
    padding-inline: 1.7rem;
}

table {
    width: 100%;
    border-collapse: collapse;
}

.table th, td {
    border: 1px solid black;
    padding: 10px;
    text-align: center;
}

.table th {
    font-weight: bold;
}

.table-func {
    display: flex;
    justify-content: flex-end;
}

.table-func button {
    padding: 1rem 1.5rem;
    margin-right: 1.7rem;
    margin-block: 1.5rem;
    border: none;
    border-radius: 10px;
    color: #fff;
    background: #1a73e8;
    font-weight: 700;
    cursor: pointer;
}

.table tr td.delete-student {
    border: none;
    padding: 0;
}

.table tr td>button {
    padding-block: 3px;
    padding-inline: 8px;
    border: none;
    font-weight: 700;
    color: #fff;
    background-color: red;
    border-radius: 50%;
    cursor: pointer;
}

.add-into-list {
    display: none;
}

.add-into-list.toggle-block {
    display: block;
}