* {
  margin: 0;
  padding: 0;
  font-family: "Muli", sans-serif;
}

body {
  backdrop-filter: blur(5px);
  background: #f1f4f8;
  color: black;
}

section {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 80px;
}

.properties {
  border-radius: 40px;
  background: white;
}

.form-box {
  position: relative;
  width: 400px;
  height: 450px;
  background: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

form.sign-in {
  opacity: 1;
  transition: all 0.3s linear;
}

.sign-in.sign-in-click {
  transform: translateX(120%);
  opacity: 0;
}

.form-box h2 {
  text-align: center;
  font-size: 2em;
}

.input-box {
  position: relative;
  margin: 30px 0;
  width: 310px;
  border-bottom: 2px solid gray;
}

.input-box label {
  position: absolute;
  font-size: 1em;
  left: 5px;
  top: 50%;
  transform: translateY(-50%);
  pointer-events: none;
  transition: 0.5s;
}

.input-box input {
  width: 100%;
  max-width: 85%;
  height: 50px;
  background: transparent;
  border: none;
  outline: none;
  font-size: 1em;
  padding: 0 50px 0 5px;
}

.input-box input.pass {
  max-width: 75%;
}

.input-box input::placeholder {
  padding-right: 50px;
}

.input-box ion-icon {
  position: absolute;
  right: 5px;
  font-size: 1.2rem;
  top: 20px;
  color: black;
}

ion-icon[name="eye-off-outline"],
ion-icon[name="eye-outline"] {
  margin-right: 30px;
  cursor: pointer;
}

ion-icon[name="eye-outline"] {
  display: none;
}

input:focus ~ label,
input:valid ~ label {
  top: -5px;
}

.forget {
  margin: 15px 0 15px;
  font-size: 0.9em;
  display: flex;
  justify-content: space-between;
}

.forget a {
  text-decoration: none;
}

.forget label input {
  margin-right: 3px;
}

.forget a:hover {
  text-decoration: underline;
}

button {
  width: 100%;
  height: 40px;
  margin-top: 40px;
  border-radius: 40px;
  border: none;
  outline: none;
  cursor: pointer;
  font-size: 1em;
  font-weight: 600;
  background: #2656c9;
  color: white;
}

@keyframe ErrorMessage {
    0% {
        display: block
    }

    100% {
        display: none
    }
}

button:checked .err_msg {
    animation: ErrorMessage 3s
}

/* .register {
    font-size: 0.9em;
    color: white;
    text-align: center;
    margin: 25px 0 10px;
}

.register p a{
    text-decoration: none;
    color: white;
    font-weight: 600;
}

.register p a:hover {
    text-decoration: underline;
} */
