{% extends 'layout/employee_config/base_ems.html' %}

{% block content %}
<div class="main-container">
    <form action="/nv/create_class" method="get">
        <div class="thems-text">1. Nhập thông tin lớp</div>
        <div class="content-block flex">
            <div class="content flex">
                <label for="class">Chọn lớp:</label>
                <select name="class_id" id="class">
                    {%for i in list_class%}
                    <option name="" value={{i.id}} {% if selected_id.__eq__(i.id) %} selected {% endif %}>
                        {{i.ten_lop}}
                    </option>
                    {% endfor %}
                </select>
            </div>

            <div class="content flex">
                <label for="class">Nhập sĩ số:</label>
                <input id="number_of_class" type="number" value={{session['number_of_class']}} name="number_of_class" placeholder="" required/>
            </div>

            <div class="content flex">
                <label for="class">Năm học:</label>
                <input type="text" name="" value="2024-2025" readonly/>
            </div>
        </div>

        <button type="submit" value="" class="make_profile_student button" onclick="">Tạo danh sách</button>
    </form>

    <form action="/nv/create_class" method="post">
        <div class="table">
            <table>
                <thead>
                <tr>
                    <th>ID</th>
                    <th>Họ và Tên</th>
                    <th>Giới tính</th>
                    <th>Năm sinh</th>
                    <th>Địa chỉ</th>
                </tr>
                </thead>

                <tbody id="rows">
                {% for i in list_student%}
                <tr id="Student{{i['id']}}">
                    <td>{{i['id']}}</td>
                    <td>{{i['ho_ten']}}</td>
                    <td>{{"Nam" if i['gioi_tinh'] == 0 else "Nữ"}}</td>
                    <td>{{i['nam_sinh']}}</td>
                    <td>{{i['dia_chi']}}</td>
                    <td class="delete-student">
                        <button class="btn-delete" type="button" onclick="deleteStudentFromTable('{{i.id}}')">x</button>
                    </td>
                </tr>
                {% endfor %}
                </tbody>

            </table>
        </div>
        <div class="table-func">
            <button type="button" onclick="deleteAllStudentFromTable()">Hủy</button>
            <button type="button" onclick="AddStudentFunc()" id="add-button">Thêm</button>
            <button type="submit" onclick="">Lưu</button>
        </div>
    </form>

    <div class="add-into-list">
        <div class="content-block flex">
            <div class="content flex">
                <label for="class">Nhập id học sinh:</label>
                <input type="text" name="" placeholder=""/>
            </div>
        </div>
        <div class="table-func">
            <button onclick="AddStudentFunc()">Hủy</button>
            <button onclick="AddStudentList()">Thêm</button>
        </div>
    </div>
</div>
{% endblock %}