{% extends 'layout/employee_config/base_ems.html' %}

{% block content %}
<div class="main-container">
    <form method="get" action="/nv/search">
        <div class="content-block flex">
            <div class="content flex">
                <label>Nhập ID học sinh:</label>
                <input type="text" name="id" placeholder="" required/>
            </div>
        </div>
        <button type="submit" class="button">Tìm kiếm</button>
    </form>

    {% if student: %}
    <div class="search-table">
        <div class="thems-text">THÔNG TIN HỌC SINH:</div>
        <div class="info flex">
            <img src="" alt="Avatar">
            <div class="line"></div>

            <div class="p-info">
                <div class="p-content"><span>ID:</span> {{student.hoc_sinh.id}}</div>
                <div class="p-content"><span>Tên:</span> {{student.hoc_sinh.ho + " " + student.hoc_sinh.ten}}</div>
                <div class="p-content"><span>Lớp:</span> {{student.lop.ten_lop}}</div>
                <div class="p-content"><span>Số điện thoại:</span> {{student.hoc_sinh.so_dien_thoai}}</div>
                <div class="p-content"><span>Địa chỉ:</span> {{student.hoc_sinh.dia_chi}}</div>
                <div class="p-content"><span>Email:</span> {{student.hoc_sinh.email}}</div>
                <div class="p-content"><span>Giới tính:</span> {{"Nữ" if student.hoc_sinh.gioi_tinh else "Nam"}}</div>
            </div>

        </div>
    </div>
    {% else %}
    <div class="error-message"></div>
    {% endif %}
</div>
{% endblock %}