{% extends 'admin/base.html' %}
{% block body %}
<h3>Chỉnh sửa Quy định</h3>
<form method="post">
    <div class="form-group">
        <label for="SI_SO">Si Số</label>
        <input type="number" name="SI_SO" id="SI_SO" value="{{ quy_dinh.SI_SO }}" class="form-control">
    </div>
    <div class="form-group">
        <label for="AGE_MAX">Tuổi tối đa</label>
        <input type="number" name="AGE_MAX" id="AGE_MAX" value="{{ quy_dinh.AGE_MAX }}" class="form-control">
    </div>
    <div class="form-group">
        <label for="AGE_MIN">Tuổi tối thiểu</label>
        <input type="number" name="AGE_MIN" id="AGE_MIN" value="{{ quy_dinh.AGE_MIN }}" class="form-control">
    </div>
    <button type="submit" class="btn btn-success">Lưu</button>
    <a href="{{ url_for('quydinh.index') }}" class="btn btn-secondary">Hủy</a>
</form>
{% endblock %}
