{% extends 'admin/master.html' %}
{% block body %}
 <script type="text/JavaScript" src="{{ url_for('static', filename='java/app.js') }}" defer></script>
<h1 class="text-danger text-center mt-1">Thống kê </h1>

<select id="monhoc_select" class="form-select form-select-lg">
    <option disabled selected value="default">Chọn môn học</option>
    {% for mh in monhoc %}
  <option>{{mh[0]}}</option>
    {% endfor %}
</select>

<select id="namhoc_select" onchange="loadHocKi()" class="form-select form-select-lg">
    <option disabled selected value="default">Chọn năm học</option>
    {% for nh in namhoc %}
  <option>{{nh[0]}}</option>
    {% endfor %}
</select>

<select id="hocki_select" class="form-select form-select-lg">
    <option disabled selected value="default">Chọn học kì</option>
</select>
<button type="button" class="btn btn-danger" id="tao_thong_ke" onclick="thongke()">Tạo thống kê</button>

<div class="row">
    <div class="col-md-6 col-12">
        <table class="table">
            <thead>
                <tr>
                    <th>STT</th>
                    <th>Lớp</th>
                    <th>Sĩ số</th>
                    <th>Số lượng đạt</th>
                    <th>Tỷ lệ</th>
                </tr>
            </thead>
            <tbody id="thongke_datmon">
            </tbody>
        </table>
    </div>
    <div class="col-md-6 col-12">
        <canvas id="myChart"></canvas>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

{% endblock %}
