{% extends 'layout/teacher_config/base_teacher.html' %}

{% block content %}
<div class="main-container">
    <form>
        <div class="thems-text">Nhập thông tin</div>
        <div class="content-block flex">
            <div class="content flex">
                <label>Chọn lớp:</label>
                <select name="class" id="class">
                    {% for class in list_class %}
                    <option name="" value="">{{class.lop.ten_lop}}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="content flex">
                <label for="subject">Chọn môn học:</label>
                <select name="subject" id="subject">

                </select>
            </div>
        </div>

        <div class="content-block flex">
            <div class="content flex">
                <label for="semester">Chọn học kì:</label>
                <select name="semester" id="semester" disabled>
                    <option name="" value="">{{hoc_ki}}</option>
                </select>
            </div>
            <div class="content flex">
                <label for="semester">Chọn năm học:</label>
                <select name="year" id="year" disabled>
                    <option name="" value="">{{nam_hoc}}</option>
                </select>
            </div>
        </div>

        <div class="thems-text">Nhập cột điểm</div>
        <div class="content-block flex">
            <div class="content flex">
                <label for="semester">Số cột 15 phút:</label>
                <input type="number" id="15p" name="number_of_15p" value=1 max="5" placeholder="" required/>
            </div>
            <div class="content flex">
                <label for="semester">Số cột 45 phút:</label>
                <input type="number" id="45p" name="number_of_45p" value=1 max="3" placeholder="" required/>
            </div>
        </div>

        <button type="button" class="button left" onclick="generateTable()">Nhập điểm</button>
    </form>

    <form method="post">
        <div class="table-container">
        <table class="score-table">
            <thead>
            <tr>
                <th>STT</th>
                <th>Họ tên</th>
<!--                set colspan = số cột-->
                <th id="col_15" >Điểm 15’</th>
                <th id="col_45">Điểm 1 tiết</th>
                <th>Điểm thi</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>1</td>
                <td>Nguyễn Văn A</td>
                <!--                Cột 15 phút-->
                <td class="score"><input type="text" class="scoreInput" maxlength="2" oninput="limitInput()"></td>
                <td class="score"><input type="text" class="scoreInput" maxlength="2" oninput="limitInput()"></td>
                <td class="score"><input type="text" class="scoreInput" maxlength="2" oninput="limitInput()"></td>
                <td class="score"><input type="text" class="scoreInput" maxlength="2" oninput="limitInput()"></td>
                <!--                Cột 45 phút-->
                <td class="score"><input type="text" class="scoreInput" maxlength="2" oninput="limitInput()"></td>
                <!--                Cột thi-->
                <td class="score"><input type="text" class="scoreInput" maxlength="2" oninput="limitInput()"></td>
            </tr>
            </tbody>
        </table>
        </div>
        <button type="submit" class="button">Lưu</button>
    </form>

</div>
{% endblock %}