{% extends 'layout/teacher_config/base_teacher.html' %}

{% block content %}
<div class="main-container">
    {% if list_namhoc %}
    <form method="post">
        <div class="thems-text">Nhập thông tin</div>
        <div class="content-block flex">
            <div class="content flex">
                <label for="year">Chọn năm học:</label>
                <select name="year" id="year" onchange="thaydoiNamHoc()">
                    {% for year in list_namhoc %}
                    <option name="" value="{{year.thong_tin_nam_hoc.nam_hoc}}">{{year.thong_tin_nam_hoc.nam_hoc}}</option>
                    {% endfor %}
                </select>
            </div>
             <div class="content flex">
                <label >Chọn lớp:</label>
                <input type="text" readonly value="" id="name_class"/>
             </div>
        </div>

        <button type="button" class="button left" onclick="loadDanhSachDiem()">Xem điểm</button>
    </form>
     <div class="mt-2 mb-2"> <h2>Bảng điểm môn học</h2></div>
    <div class="table-container">
        <table class="score-table">
            <thead>
            <tr>
                <th>STT</th>
                <th>Họ tên</th>
                <th>Lớp</th>
                <th>Điểm TB HK1</th>
                <th>Điểm TB HK2</th>
            </tr>
            </thead>
            <tbody id="danhSachHocSinh">

            </tbody>
        </table>
    </div>
    {% else %}
    <h1 style="color:red;text-align:center; margin-top:5rem;">Không có quyền truy cập</h1>
    {% endif %}
</div>
{% endblock %}