{% extends 'layout/teacher_config/base_teacher.html' %}

{% block content %}
<div class="main-container">
    <form method="post">
        <div class="thems-text">Nhập thông tin</div>

        <div class="content-block flex">
            <div class="content flex">
                <label for="year">Chọn năm học:</label>
                <select name="year" id="year" onchange="thaydoiNamHoc()">
                    {% for year in list_namhoc %}
                    <option name="" value="{{year.thong_tin_nam_hoc.nam_hoc}}">{{year.thong_tin_nam_hoc.nam_hoc}}</option>
                    {% endfor %}
                </select>
            </div>
             <div class="content flex">
                <label >Chọn lớp:</label>
                <input type="text" readonly value="" id="name_class"/>
            </div>
        </div>

        <button type="button" class="button left" onclick="loadDanhSachDiem()">Xem điểm</button>
    </form>
     <div class="mt-2 mb-2"> <h2>Bảng điểm môn học</h2></div>
    <div class="table-container">
        <table class="score-table">
            <thead>
            <tr>
                <th>STT</th>
                <th>Họ tên</th>
                <th>Lớp</th>
                <th>Điểm TB HK1</th>
                <th>Điểm TB HK2</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>1</td>
                <td>Nguyễn Văn A</td>

                <td class="score"></td>
                 <!--                Cột TBKH1-->
                <td class="score"></td>
                 <!--                Cột TBKH2-->
                <td class="score"></td>
            </tr>
            </tbody>
        </table>
    </div>

</div>
{% endblock %}