{% extends 'layout/teacher_config/base_teacher.html' %}

{% block content %}
<div class="main-container">
    <form action="/nv/add" method="post">
        <div class="thems-text">Nhập thông tin</div>
        <div class="content-block flex">
            <div class="content flex">
                <label>Chọn lớp:</label>
                <select name="class" id="class">
                     {% for class in list_class %}
                    <option name="" value="">{{class.lop.ten_lop}}</option>
                     {% endfor %}
                </select>
            </div>
            <div class="content flex">
                <label for="subject">Chọn môn học:</label>
                <select name="subject" id="subject">
                    <option name="" value="">Toán</option>
                    <option name="" value="">Ngữ Văn</option>
                </select>
            </div>
        </div>

        <div class="content-block flex">
            <div class="content flex">
                <label for="semester">Chọn học kì:</label>
                <select name="semester" id="semester">
                    <option name="" value="">1</option>
                    <option name="" value="">2</option>
                </select>
            </div>
            <div class="content flex">
                <label for="semester">Chọn năm học:</label>
                <select name="year" id="year">
                    <option name="" value="">2024</option>
                    <option name="" value="">2025</option>
                </select>
            </div>
        </div>

        <button type="submit" class="button left">Xem điểm</button>
    </form>

    <div class="table-container">
        <table class="score-table">
            <thead>
            <tr>
                <th>STT</th>
                <th>Họ tên</th>
                <!--                set colspan = số cột-->
                <th colspan="4">Điểm 15’</th>
                <th colspan="1">Điểm 1 tiết</th>
                <th>Điểm thi</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>1</td>
                <td>Nguyễn Văn A</td>
                <!--                Cột 15 phút-->
                <td class="score"><input type="text" class="scoreInput" maxlength="2" oninput="limitInput()"></td>
                <td class="score"><input type="text" class="scoreInput" maxlength="2" oninput="limitInput()"></td>
                <td class="score"><input type="text" class="scoreInput" maxlength="2" oninput="limitInput()"></td>
                <td class="score"><input type="text" class="scoreInput" maxlength="2" oninput="limitInput()"></td>
                <!--                Cột 45 phút-->
                <td class="score"><input type="text" class="scoreInput" maxlength="2" oninput="limitInput()"></td>
                <!--                Cột thi-->
                <td class="score"><input type="text" class="scoreInput" maxlength="2" oninput="limitInput()"></td>
            </tr>
            </tbody>
        </table>
    </div>

</div>
{% endblock %}