<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- LINK icon -->
    <script
      type="module"
      src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"
    ></script>
    <script
      nomodule
      src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"
    ></script>
    <!-- LINK font Muli -->
    <link href="https://fonts.cdnfonts.com/css/muli" rel="stylesheet" />
    <!-- LINK CSS -->
    <link href="{{ url_for('static', filename='css/login.css') }}" rel="stylesheet"/>
    <!-- LINK JavaScript -->
    <script type="text/JavaScript" src="{{ url_for('static', filename='java/app.js') }}" defer></script>
    <title>Document</title>
  </head>
  <body>
    <section>
      <div class="properties">
        <div class="form-box">
          <form method="post" action="/login" class="sign-in">
            <h2>Đăng nhập</h2>
            <div class="input-box">
              <ion-icon name="text-outline"></ion-icon>
              <input type="text" name="username" id="username" required />
              <label for="username">Tên người dùng</label>
            </div>
            <div class="input-box">
              <ion-icon name="lock-closed-outline"></ion-icon>
              <ion-icon name="eye-off-outline"></ion-icon>
              <ion-icon name="eye-outline"></ion-icon>
              <input type="password" class="pass" id="pwd" name="password" required />
              <label for="pwd">Mật khẩu</label>
            </div>
            <div class="forget">
              <label for="forget"> <input id="forget" type="checkbox" />Lưu đăng nhập </label>
              <a href="#">Quên mật khẩu</a>
            </div>
            {% if not err_msg == "" %}
            <div class="err_msg">{{ err_msg }}</div>
            {% endif %}
            <button type="submit">Đăng nhập</button>
          </form>
        </div>
      </div>
    </section>
  </body>
</html>
